# Parsing Category Tags
This script will parse all the "tag" elements from the scraped epicurious data.

The following tag categories are addressed: 
    * meal (dinner, appetizer, brunch, etc.)
    * technique (stew, bake, marinate, roast, etc.)
    * occasion (easter, anniversary, tail-gating, etc.)
    * type (sauce, cake, ice cream, etc.)
    * special consideration (vegan, soy-free, kid-friendly, etc.)
    * source (gourmet, bon appetit, the chew, etc.)
    * cuisine (asian, america, french, etc.)
    * equipment (coffee grinder, slow cooker, etc.)
    
Each recipe could have multiple values for reach tag category.

The parsing process will create individual columns for each tag category value, prefixed by tag (meal_breakfast, meal_lunch, type_sauce, etc.).  Each recipe is then evaluated to see if they have any of those tag values and assigning a value of 1 if so or a value of 0 if not.

At the end of teach tag group, the columns are appended to the end of the original scraped data frame.  This can then be exported to a (rather large) .csv that will have many, many columns.

In [1]:
import pandas as pd  
import numpy as np
import matplotlib
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline
import warnings; warnings.simplefilter('ignore')
from datetime import date
from datetime import datetime

# Parsing Functions

In [2]:
def parse_unique_values_from_tag_list(tag_prefix, tag_list):
    '''
    tag_prefix = prefix for tab (meal_, cuisine_, etc.)
    tag_list = list of unique values for tag
    
    Function loops through tag list and returns a unique list of values prefixed
    '''
    unique_values = [];
    for list_item in tag_list:
        if type(list_item) == str:
            split_vals = list_item.replace("[", "").replace("]", "").split(",")
            for s in split_vals:
                final_val = tag_prefix + s.replace("\'", "").strip();
                if final_val not in unique_values:
                    unique_values.append(final_val)
    return unique_values;

In [3]:
def parse_string_to_list(prefix, strings):
    '''
    prefix = tag prefix
    strings = sting of tag values for row
    
    Function parses string of tag values and returns values as a list
    '''
    result = [];
    if type(strings) == str:
        split_vals = strings.replace("[", "").replace("]", "").split(",");
        for s in split_vals:
            result.append(prefix + s.replace("\'", "").strip());
    return result;

In [4]:
def parse_tag_list(final_list, unique_tag_list, row_tag_values):
    '''
    final_list = finale list 1/0 tag values
    unique_tag_list = unique list of tag values
    row_tag_values = list of tag values for a row
    
    Function loops through the unique tag list and creates 1 or 0 
    value for each list item based on the row tag values and appends
    to final_list
    '''
    try:
        row_values = [];
        for tag in unique_tag_list:
            if tag in row_tag_values:
    #             print(f'Has {tag}');
                row_values.append(1);
            else:
                row_values.append(0);
    #     return row_values;
        final_list.append(row_values)
    except Exception:
        print(Exception)

# Load Data

In [5]:
# read in the scraped data Sarah created
df= pd.read_csv ('df_original_scrape.csv')

# Parse Tag: Meals

In [6]:
# create list of unique meals
meal_tags = parse_unique_values_from_tag_list("meal_", df['meal'].unique().tolist())
meal_tags

['meal_dinner',
 'meal_appetizer',
 'meal_lunch',
 'meal_side',
 'meal_brunch',
 'meal_dessert',
 'meal_breakfast',
 'meal_drink',
 'meal_buffet',
 'meal_one-pot-meal',
 'meal_hors-doeuvre',
 'meal_leftovers']

In [7]:
# create a dataframe of just meal data
df_meal = df[['meal']]
df_meal.head()

            meal
0     ['dinner']
1  ['appetizer']
2      ['lunch']
3       ['side']
4            NaN

In [8]:
# create a new column that converts the string meal data into a list
df_meal['meal_list'] = df_meal.apply(lambda x: parse_string_to_list('meal_', x['meal']), axis=1)
df_meal.head()

            meal         meal_list
0     ['dinner']     [meal_dinner]
1  ['appetizer']  [meal_appetizer]
2      ['lunch']      [meal_lunch]
3       ['side']       [meal_side]
4            NaN                []

In [9]:
# create a list to plug all the parsed meal data into
data_meals = []

In [10]:
# loop through all items in the dataframe, parse the meal list for each row and add to the data_meals list
for index, row in df_meal.iterrows():
    parse_tag_list(data_meals, meal_tags, row['meal_list'])

print(f'data_meals length: {len(data_meals)}')

print(f'df_meal length: {len(df_meal)}')

data_meals length: 37085
df_meal length: 37085

In [11]:
df_meals = pd.DataFrame(data_meals, columns=meal_tags)
df_meals.head()

,meal_dinner,meal_appetizer,meal_lunch,meal_side,meal_brunch,meal_dessert,meal_breakfast,meal_drink,meal_buffet,meal_one-pot-meal,meal_hors-doeuvre,meal_leftovers
0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0

In [12]:
# see how each column totals look
df_meals.apply(pd.Series.value_counts).transpose()

                       0     1
meal_dinner        31767  5318
meal_appetizer     34127  2958
meal_lunch         34523  2562
meal_side          31101  5984
meal_brunch        35235  1850
meal_dessert       29476  7609
meal_breakfast     35418  1667
meal_drink         34870  2215
meal_buffet        36855   230
meal_one-pot-meal  37032    53
meal_hors-doeuvre  37005    80
meal_leftovers     37064    21

In [13]:
df.columns

Index(['author', 'ingredients_string', 'make_again', 'month', 'rating',
       'reviews', 'title', 'year', 'cuisine', 'technique', 'occasion', 'meal',
       'ingredients_list', 'special-consideration', 'type', 'source',
       'equipment', 'tag', 'location', 'cal', 'carb', 'fat', 'protein',
       'sat_fat', 'sodium', 'polyunsat_fat', 'fiber', 'monounsat_fat',
       'cholesterol', 'servings', 'ingredients_count', 'carb_split',
       'fat_split', 'protein_split', 'sat_fat_split', 'sodium_split',
       'polyunsat_fat_split', 'fiber_split', 'monounsat_fat_split',
       'cholesterol_split', 'make_again_split', 'servings_split', 'month_num',
       'year_num', 'age_recipe'],
      dtype='object')

In [14]:
# append the parsed meals data to the original dataframe
df = df.merge(df_meals, left_index=True, right_index=True)

# Parse Tag: Technique

In [15]:
# create list of unique techniques
technique_tags = parse_unique_values_from_tag_list("technique_", df['technique'].unique().tolist())
# technique_tags

In [16]:
# create a dataframe of just technique data
df_technique = df[['technique']]
# df_technique.head()

In [17]:
# create a new column that converts the string meal data into a list
df_technique['technique_list'] = df_technique.apply(lambda x: parse_string_to_list('technique_', x['technique']), axis=1)
# df_technique.head()

In [18]:
# create a list to plug all the parsed meal data into
data_techniques = []

# loop through all items in the dataframe, parse the meal list for each row and add to the data_meals list
for index, row in df_technique.iterrows():
    parse_tag_list(data_techniques, technique_tags, row['technique_list'])

print(f'data_techniques length: {len(data_techniques)}')

print(f'df_technique length: {len(df_technique)}')

data_techniques length: 37085
df_technique length: 37085

In [19]:
df_techniques = pd.DataFrame(data_techniques, columns=technique_tags)
# df_techniques.head()

In [20]:
# see how each column totals look
df_techniques.apply(pd.Series.value_counts).transpose()

                                     0     1
technique_braise                 36591   494
technique_stew                   36815   270
technique_roast                  34980  2105
technique_saute                  33800  3285
technique_chill                  35188  1897
technique_marinate               36218   867
technique_poach                  36857   228
technique_bake                   28514  8571
technique_grill-barbecue         35359  1726
technique_no-cook                35246  1839
technique_steam                  36714   371
technique_simmer                 35720  1365
technique_freeze-chill           36397   688
technique_stir-fry               36763   322
technique_broil                  36274   811
technique_fry                    36224   861
technique_deep-fry               36921   164
technique_pan-fry                36674   411
technique_boil                   36354   731
technique_brine                  37033    52
technique_advance-prep-required  36861   224

In [21]:
# append the parsed meals data to the original dataframe
df = df.merge(df_techniques, left_index=True, right_index=True)

In [22]:
# df.columns

# Parse Tag: Occasion

In [23]:
# create list of unique occaision
occasion_tags = parse_unique_values_from_tag_list("occasion_", df['occasion'].unique().tolist())
# occasion_tags

In [24]:
# create a dataframe of just occaision data
df_occasion = df[['occasion']]
# df_technique.head()

# create a new column that converts the string data into a list
df_occasion['occasion_list'] = df_occasion.apply(lambda x: parse_string_to_list('occasion_', x['occasion']), axis=1)
# df_occasion.head()

In [25]:
# create a list to plug all the parsed meal data into
data_occasions = []

# loop through all items in the dataframe, parse the meal list for each row and add to the data_meals list
for index, row in df_occasion.iterrows():
    parse_tag_list(data_occasions, occasion_tags, row['occasion_list'])

print(f'data_occasions length: {len(data_occasions)}')

print(f'df_occasion length: {len(df_occasion)}')

data_occasions length: 37085
df_occasion length: 37085

In [26]:
df_occasions = pd.DataFrame(data_occasions, columns=occasion_tags)
# df_occasions.head()

In [27]:
# see how each column totals look
df_occasions.apply(pd.Series.value_counts).transpose()

                                       0     1
occasion_rosh-hashanah-yom-kippur  36929   156
occasion_fall                      31781  5304
occasion_passover                  36772   313
occasion_summer                    29926  7159
occasion_sukkot                    37050    35
occasion_super-bowl                36443   642
occasion_winter                    31707  5378
occasion_shower                    36383   702
occasion_spring                    34132  2953
occasion_tailgating                36817   268
occasion_halloween                 36920   165
occasion_christmas                 34859  2226
occasion_christmas-eve             36365   720
occasion_thanksgiving              34565  2520
occasion_hanukkah                  36862   223
occasion_new-years-eve             36673   412
occasion_ramadan                   36998    87
occasion_valentines-day            36505   580
occasion_family-reunion            36417   668
occasion_picnic                    36107   978
occasion_mothers-day               36678   407
occasion_fourth-of-july            36403   682
occasion_cocktail-party            34714  2371
occasion_engagement-party          36666   419
occasion_new-years-day             36888   197
occasion_wedding                   36858   227
occasion_birthday                  36595   490
occasion_party                     35232  1853
occasion_oscars                    36813   272
occasion_backyard-bbq              35536  1549
occasion_fathers-day               36497   588
occasion_back-to-school            36627   458
occasion_potluck                   36021  1064
occasion_cinco-de-mayo             36769   316
occasion_kentucky-derby            36992    93
occasion_anniversary               36829   256
occasion_easter                    36581   504
occasion_mardi-gras                36951   134
occasion_poker-game-night          36736   349
occasion_st-patricks-day           36951   134
occasion_bastille-day              37031    54
occasion_graduation                36913   172
occasion_diwali                    37044    41
occasion_kwanzaa                   37054    31
occasion_oktoberfest               37021    64
occasion_persian-new-year          37069    16
occasion_lunar-new-year            36983   102
occasion_purim                     37056    29
occasion_shavuot                   37031    54
occasion_entertaining              37017    68
occasion_labor-day                 37072    13
occasion_friendsgiving             37074    11
occasion_memorial-day              37083     2

In [28]:
# append the parsed occasions data to the original dataframe
df = df.merge(df_occasions, left_index=True, right_index=True)

# Parse Tag: Type

In [29]:
# create list of unique type
type_tags = parse_unique_values_from_tag_list("type_", df['type'].unique().tolist())
type_tags

['type_salad',
 'type_soup-stew',
 'type_sauce',
 'type_egg-nog',
 'type_bread',
 'type_frozen-dessert',
 'type_salad-dressing',
 'type_condiment-spread',
 'type_candy',
 'type_pastry',
 'type_cookie',
 'type_edible-gift',
 'type_cake',
 'type_casserole-gratin',
 'type_alcoholic',
 'type_cocktail',
 'type_hot-drink',
 'type_non-alcoholic',
 'type_sandwich',
 'type_punch',
 'type_digestif',
 'type_stuffing-dressing',
 'type_smoothie',
 'type_margarita',
 'type_iced-tea',
 'type_martini',
 'type_spritzer',
 'type_aperitif',
 'type_sangria',
 'type_ice-cream',
 'type_pie',
 'type_pot-pie',
 'type_pizza',
 'type_tart',
 'type_meatball',
 'type_cobbler-crumble',
 'type_macaroni-and-cheese',
 'type_chili',
 'type_quiche',
 'type_cranberry-sauce',
 'type_biscuit',
 'type_hamburger',
 'type_lasagna',
 'type_dip',
 'type_stock',
 'type_pancake',
 'type_flat-bread',
 'type_hummus',
 'type_crepe',
 'type_salsa',
 'type_brownie',
 'type_fritter',
 'type_waffle',
 'type_cheesecake',
 'type_meatloaf',
 'type_frittata',
 'type_custard',
 'type_souffle-meringue',
 'type_cupcake',
 'type_potato-salad',
 'type_muffin',
 'type_marinade',
 'type_skewer',
 'type_guacamole',
 'type_sorbet',
 'type_omelet',
 'type_rub',
 'type_burrito',
 'type_risotto',
 'type_pasta-salad',
 'type_chowder']

In [30]:
# create a dataframe of just type data
df_type = df[['type']]
# df_type.head()

# create a new column that converts the string data into a list
df_type['type_list'] = df_type.apply(lambda x: parse_string_to_list('type_', x['type']), axis=1)
# df_type.head()

In [31]:
# create a list to plug all the parsed meal data into
data_types = []

# loop through all items in the dataframe, parse the type list for each row and add to the data_types list
for index, row in df_type.iterrows():
    parse_tag_list(data_types, type_tags, row['type_list'])

print(f'data_types length: {len(data_types)}')

print(f'df_type length: {len(df_type)}')

data_types length: 37085
df_type length: 37085

In [32]:
df_types = pd.DataFrame(data_types, columns=type_tags)
# df_types.head()

In [33]:
# see how each column totals look
df_types.apply(pd.Series.value_counts).transpose()

                            0     1
type_salad              34459  2626
type_soup-stew          35092  1993
type_sauce              35717  1368
type_egg-nog            37069    16
type_bread              35929  1156
type_frozen-dessert     36363   722
type_salad-dressing     36839   246
type_condiment-spread   35760  1325
type_candy              36856   229
type_pastry             36862   223
type_cookie             36187   898
type_edible-gift        36773   312
type_cake               35549  1536
type_casserole-gratin   36756   329
type_alcoholic          35440  1645
type_cocktail           36184   901
type_hot-drink          36975   110
type_non-alcoholic      36612   473
type_sandwich           36325   760
type_punch              36978   107
type_digestif           37070    15
type_stuffing-dressing  36886   199
type_smoothie           37002    83
type_margarita          37050    35
type_iced-tea           37059    26
type_martini            37040    45
type_spritzer           37051    34
type_aperitif           37052    33
type_sangria            37055    30
type_ice-cream          37049    36
...                       ...   ...
type_hamburger          37068    17
type_lasagna            37075    10
type_dip                37032    53
type_stock              37065    20
type_pancake            37067    18
type_flat-bread         37066    19
type_hummus             37074    11
type_crepe              37082     3
type_salsa              37058    27
type_brownie            37070    15
type_fritter            37082     3
type_waffle             37076     9
type_cheesecake         37074    11
type_meatloaf           37080     5
type_frittata           37074    11
type_custard            37070    15
type_souffle-meringue   37075    10
type_cupcake            37060    25
type_potato-salad       37082     3
type_muffin             37069    16
type_marinade           37080     5
type_skewer             37071    14
type_guacamole          37084     1
type_sorbet             37083     2
type_omelet             37081     4
type_rub                37082     3
type_burrito            37083     2
type_risotto            37077     8
type_pasta-salad        37083     2
type_chowder            37083     2

[71 rows x 2 columns]

In [34]:
# append the parsed type data to the original dataframe
df = df.merge(df_types, left_index=True, right_index=True)

# Parse Tag: Special Consideration

In [35]:
# create list of unique type
consideration_tags = parse_unique_values_from_tag_list("consideration_", df['special-consideration'].unique().tolist())
consideration_tags

['consideration_kosher',
 'consideration_paleo',
 'consideration_dairy-free',
 'consideration_wheat-gluten-free',
 'consideration_peanut-free',
 'consideration_tree-nut-free',
 'consideration_soy-free',
 'consideration_vegetarian',
 'consideration_vegan',
 'consideration_pescatarian',
 'consideration_no-sugar-added',
 'consideration_quick-and-easy',
 'consideration_low-no-sugar',
 'consideration_sugar-conscious',
 'consideration_diabetes-friendly',
 'consideration_fat-free',
 'consideration_kidney-friendly',
 'consideration_low-fat',
 'consideration_healthy',
 'consideration_kid-friendly',
 'consideration_low-cal',
 'consideration_low-carb',
 'consideration_raw',
 'consideration_low-sodium',
 'consideration_low-sugar',
 'consideration_high-fiber',
 'consideration_low-cholesterol',
 'consideration_kosher-for-passover',
 'consideration_organic',
 'consideration_high-protein']

In [36]:
# create a dataframe of just type data
df_consideration = df[['special-consideration']]
# df_consideration.head()

# create a new column that converts the string data into a list
df_consideration['consideration_list'] = df_consideration.apply(lambda x: parse_string_to_list('consideration_', x['special-consideration']), axis=1)
# df_consideration.head()

In [37]:
# create a list to plug all the parsed data into
data_considerations = []

# loop through all items in the dataframe, parse the type list for each row and add to the data_types list
for index, row in df_consideration.iterrows():
    parse_tag_list(data_considerations, consideration_tags, row['consideration_list'])

print(f'data_considerations length: {len(data_considerations)}')

print(f'df_consideration length: {len(df_consideration)}')

data_considerations length: 37085
df_consideration length: 37085

In [38]:
df_considerations = pd.DataFrame(data_considerations, columns=consideration_tags)
# df_types.head()

In [39]:
# see how each column totals look
df_considerations.apply(pd.Series.value_counts).transpose()

                                       0      1
consideration_kosher               24233  12852
consideration_paleo                35645   1440
consideration_dairy-free           30897   6188
consideration_wheat-gluten-free    27250   9835
consideration_peanut-free          20101  16984
consideration_tree-nut-free        22695  14390
consideration_soy-free             20543  16542
consideration_vegetarian           23135  13950
consideration_vegan                33478   3607
consideration_pescatarian          24479  12606
consideration_no-sugar-added       31116   5969
consideration_quick-and-easy       27336   9749
consideration_low-no-sugar         36627    458
consideration_sugar-conscious      32083   5002
consideration_diabetes-friendly    36876    209
consideration_fat-free             36376    709
consideration_kidney-friendly      31688   5397
consideration_low-fat              35416   1669
consideration_healthy              32983   4102
consideration_kid-friendly         32921   4164
consideration_low-cal              35178   1907
consideration_low-carb             36498    587
consideration_raw                  36934    151
consideration_low-sodium           36405    680
consideration_low-sugar            37057     28
consideration_high-fiber           35257   1828
consideration_low-cholesterol      36325    760
consideration_kosher-for-passover  37014     71
consideration_organic              37072     13
consideration_high-protein         37084      1

In [40]:
# append the parsed type data to the original dataframe
df = df.merge(df_considerations, left_index=True, right_index=True)

# Parse Tag: Source

In [41]:
# create list of unique type
source_tags = parse_unique_values_from_tag_list("source_", df['source'].unique().tolist())
source_tags

['source_gourmet',
 'source_bon-appetit',
 'source_self',
 'source_house-and-garden',
 'source_parade',
 'source_cookie',
 'source_harpercollins',
 'source_weelicious',
 'source_the-chew']

In [42]:
# create a dataframe of just type data
df_source = df[['source']]
# df_consideration.head()

# create a new column that converts the string data into a list
df_source['source_list'] = df_source.apply(lambda x: parse_string_to_list('source', x['source']), axis=1)
# df_consideration.head()

In [43]:
# create a list to plug all the parsed data into
data_sources = []

# loop through all items in the dataframe, parse the type list for each row and add to the data_types list
for index, row in df_source.iterrows():
    parse_tag_list(data_sources, source_tags, row['source_list'])

print(f'data_sources length: {len(data_sources)}')

print(f'df_source length: {len(df_source)}')

data_sources length: 37085
df_source length: 37085

In [44]:
df_sources = pd.DataFrame(data_sources, columns=source_tags)
# df_types.head()

# see how each column totals look
df_sources.apply(pd.Series.value_counts).transpose()

                             0
source_gourmet           37085
source_bon-appetit       37085
source_self              37085
source_house-and-garden  37085
source_parade            37085
source_cookie            37085
source_harpercollins     37085
source_weelicious        37085
source_the-chew          37085

In [45]:
# append the parsed type data to the original dataframe
df = df.merge(df_sources, left_index=True, right_index=True)

# Parse Tag: Cuisine

In [46]:
# create list of unique type
cuisine_tags = parse_unique_values_from_tag_list("cuisine_", df['cuisine'].unique().tolist())
cuisine_tags

['cuisine_italian',
 'cuisine_jewish',
 'cuisine_tex-mex',
 'cuisine_asian',
 'cuisine_american',
 'cuisine_spanish-portuguese',
 'cuisine_chinese',
 'cuisine_english',
 'cuisine_central-south-american',
 'cuisine_french',
 'cuisine_middle-eastern',
 'cuisine_mediterranean',
 'cuisine_sushi',
 'cuisine_cajun-creole',
 'cuisine_southwestern',
 'cuisine_scandinavian',
 'cuisine_eastern-european-russian',
 'cuisine_southern',
 'cuisine_european',
 'cuisine_central-american-caribbean',
 'cuisine_vietnamese',
 'cuisine_indian',
 'cuisine_african',
 'cuisine_mexican',
 'cuisine_german',
 'cuisine_korean',
 'cuisine_moroccan',
 'cuisine_greek',
 'cuisine_basque',
 'cuisine_thai',
 'cuisine_latin-american',
 'cuisine_irish',
 'cuisine_turkish',
 'cuisine_cuban',
 'cuisine_californian',
 'cuisine_british',
 'cuisine_indonesian',
 'cuisine_japanese',
 'cuisine_nuevo-latino',
 'cuisine_italian-american',
 'cuisine_southern-italian',
 'cuisine_new-england',
 'cuisine_southeast-asian',
 'cuisine_midwestern',
 'cuisine_french-provencal',
 'cuisine_canadian',
 'cuisine_northern-italian',
 'cuisine_south-american',
 'cuisine_australian-new-zealand',
 'cuisine_argentine',
 'cuisine_israeli',
 'cuisine_szechuan-hunan',
 'cuisine_brazilian',
 'cuisine_sephardic',
 'cuisine_pacific-northwest',
 'cuisine_south-asian',
 'cuisine_ashkenazi',
 'cuisine_scottish',
 'cuisine_ethiopian',
 'cuisine_central-asian',
 'cuisine_cantonese']

In [47]:
# create a dataframe of just cuisine data
df_cuisine = df[['cuisine']]
# df_consideration.head()

# create a new column that converts the string data into a list
df_cuisine['cuisine_list'] = df_cuisine.apply(lambda x: parse_string_to_list('cuisine_', x['cuisine']), axis=1)
# df_consideration.head()

In [48]:
# create a list to plug all the parsed data into
data_cuisines = []

# loop through all items in the dataframe, parse the type list for each row and add to the data_types list
for index, row in df_cuisine.iterrows():
    parse_tag_list(data_cuisines, cuisine_tags, row['cuisine_list'])

print(f'data_cuisines length: {len(data_cuisines)}')

print(f'df_cuisine length: {len(df_cuisine)}')

data_cuisines length: 37085
df_cuisine length: 37085

In [49]:
df_cuisines = pd.DataFrame(data_cuisines, columns=cuisine_tags)
# df_types.head()

# see how each column totals look
df_cuisines.apply(pd.Series.value_counts).transpose()

                                        0     1
cuisine_italian                     34703  2382
cuisine_jewish                      36633   452
cuisine_tex-mex                     36944   141
cuisine_asian                       35617  1468
cuisine_american                    31692  5393
cuisine_spanish-portuguese          36699   386
cuisine_chinese                     36769   316
cuisine_english                     36850   235
cuisine_central-south-american      36923   162
cuisine_french                      35695  1390
cuisine_middle-eastern              36651   434
cuisine_mediterranean               36614   471
cuisine_sushi                       37077     8
cuisine_cajun-creole                36870   215
cuisine_southwestern                36828   257
cuisine_scandinavian                36943   142
cuisine_eastern-european-russian    36894   191
cuisine_southern                    36722   363
cuisine_european                    36926   159
cuisine_central-american-caribbean  36838   247
cuisine_vietnamese                  36968   117
cuisine_indian                      36662   423
cuisine_african                     36968   117
cuisine_mexican                     36113   972
cuisine_german                      36977   108
cuisine_korean                      36971   114
cuisine_moroccan                    36868   217
cuisine_greek                       36765   320
cuisine_basque                      37072    13
cuisine_thai                        36835   250
...                                   ...   ...
cuisine_irish                       36957   128
cuisine_turkish                     37046    39
cuisine_cuban                       37034    51
cuisine_californian                 37052    33
cuisine_british                     37038    47
cuisine_indonesian                  37066    19
cuisine_japanese                    36848   237
cuisine_nuevo-latino                37022    63
cuisine_italian-american            36856   229
cuisine_southern-italian            37059    26
cuisine_new-england                 37023    62
cuisine_southeast-asian             36940   145
cuisine_midwestern                  37060    25
cuisine_french-provencal            37028    57
cuisine_canadian                    37064    21
cuisine_northern-italian            37056    29
cuisine_south-american              37032    53
cuisine_australian-new-zealand      37064    21
cuisine_argentine                   37046    39
cuisine_israeli                     37045    40
cuisine_szechuan-hunan              37078     7
cuisine_brazilian                   37060    25
cuisine_sephardic                   37068    17
cuisine_pacific-northwest           37072    13
cuisine_south-asian                 37048    37
cuisine_ashkenazi                   37072    13
cuisine_scottish                    37080     5
cuisine_ethiopian                   37080     5
cuisine_central-asian               37080     5
cuisine_cantonese                   37083     2

[61 rows x 2 columns]

In [50]:
# append the parsed type data to the original dataframe
df = df.merge(df_cuisines, left_index=True, right_index=True)

# Parse Tag: Equipment

In [51]:
# create list of unique type
equipment_tags = parse_unique_values_from_tag_list("equipment_", df['equipment'].unique().tolist())
equipment_tags

['equipment_ice-cream-machine',
 'equipment_wok',
 'equipment_food-processor',
 'equipment_juicer',
 'equipment_mixer',
 'equipment_blender',
 'equipment_candy-thermometer',
 'equipment_double-boiler',
 'equipment_grill',
 'equipment_microwave',
 'equipment_ramekin',
 'equipment_pasta-maker',
 'equipment_pressure-cooker',
 'equipment_smoker',
 'equipment_bread-machine',
 'equipment_slow-cooker',
 'equipment_coffee-grinder',
 'equipment_mandoline',
 'equipment_mortar-and-pestle',
 'equipment_sheet-pan',
 'equipment_instant-pot',
 'equipment_cast-iron',
 'equipment_air-fryer']

In [52]:
# create a dataframe of just equipment data
df_equipment = df[['equipment']]
# df_consideration.head()

# create a new column that converts the string data into a list
df_equipment['equipment_list'] = df_equipment.apply(lambda x: parse_string_to_list('equipment_', x['equipment']), axis=1)
# df_consideration.head()

In [53]:
# create a list to plug all the parsed data into
data_equipments = []

# loop through all items in the dataframe, parse the type list for each row and add to the data_types list
for index, row in df_equipment.iterrows():
    parse_tag_list(data_equipments, equipment_tags, row['equipment_list'])

print(f'data_equipments length: {len(data_equipments)}')

print(f'df_equipment length: {len(df_equipment)}')

data_equipments length: 37085
df_equipment length: 37085

In [54]:
df_equipments = pd.DataFrame(data_equipments, columns=equipment_tags)
# df_types.head()

# see how each column totals look
df_equipments.apply(pd.Series.value_counts).transpose()

                                 0     1
equipment_ice-cream-machine  36803   282
equipment_wok                36945   140
equipment_food-processor     35355  1730
equipment_juicer             37065    20
equipment_mixer              35747  1338
equipment_blender            35990  1095
equipment_candy-thermometer  36974   111
equipment_double-boiler      37018    67
equipment_grill              36151   934
equipment_microwave          37004    81
equipment_ramekin            36995    90
equipment_pasta-maker        37066    19
equipment_pressure-cooker    37046    39
equipment_smoker             37068    17
equipment_bread-machine      37082     3
equipment_slow-cooker        37021    64
equipment_coffee-grinder     37058    27
equipment_mandoline          37069    16
equipment_mortar-and-pestle  37080     5
equipment_sheet-pan          37070    15
equipment_instant-pot        37040    45
equipment_cast-iron          37081     4
equipment_air-fryer          37082     3

In [55]:
# append the parsed type data to the original dataframe
df = df.merge(df_equipments, left_index=True, right_index=True)

# Export revised data frame with new columns

In [56]:
#export full dataframe
# df_.to_csv('df_scrape_parsed_tags.csv', index=False)